name: date_range_selector
description: A customizable Flutter date range picker with elegant UI and flexible color options.
version: 1.0.0

homepage: https://github.com/ANTHONY_GITHUB_USERNAME/date_range_selector
repository: https://github.com/ANTHONY_GITHUB_USERNAME/date_range_selector
issue_tracker: https://github.com/ANTHONY_GITHUB_USERNAME/date_range_selector/issues

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
